- 
    var helperPath = `${__dirname}/src/pug/helper.js`;
    delete require.cache[require.resolve(helperPath)]
    var helper = require(helperPath);    

doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        title DotDev
                        
        script.
            window.addEventListener("beforeunload", function(){
                window.scrollTo(0, 0);
            });
        script(src="js/main.js")

        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700")

    body
        .contacted-popup#contacted-popup.sr
            h2.contacted-popup__title Thank you for reaching out to me!
            p.contacted-popup__text I'm usually able to respond instantly, unless i'm sleeping.
        header.header
            .header__content.sr--initial
                p.header__logo.button.button--primary .dev
                a.header__contact-button.button.button--secondary(href="#contact") Hire Me
        section.section.section--about
            .section__content.sr--initial
                h2.section__title About
                p.section__text
                    | Hi, I'm <b>DotDev</b>. A self taught front-end web developer and freelancer based in Norway. I'm fluent in <b>HTML</b>, <b>CSS</b>, and <b>JavaScript</b> along with various frameworks and libraries. Clean code and a keen eye for <b>mobile first design</b>, and <b>user experience</b> help me create a perfect balance between functionality and attractiveness.
        section.section.section--work
            .section__content.sr
                h2.section__title Work
                .section__carousel.work-carousel
                    for item in helper.portfolioItems
                        .work-carousel__item
                            img.work-carousel__image(src=`img/portfolioItems/${item.image}`)
                            .work-carousel__description 
                                .work-carousel__text
                                    p.work-carousel__name= item.name
                                    p.work-carousel__about= item.about
                                div.work-carousel__links
                                    if(item.url)
                                        a.work-carousel__link.button.button--primary.button--icon(href=item.url target="_blank")
                                            img(src="img/next.svg")
                                    if(item.github)
                                        a.work-carousel__link.button.button--primary.button--icon(href=item.github target="_blank")
                                            img(src="img/github.svg")


        section.section.section--contact
            .section__content.sr
                a.anchor#contact
                h2.section__title Contact
                form.section__contact-form.contact-form(action="https://formspree.io/teemu.vikoren@gmail.com" method="POST")
                    .contact-form__float-input.float-input
                        input.float-input__input.contact-form__input(id="name" name="name" type="text" required placeholder="John Doe")
                        label.float-input__label.contact-form__label(for="name") Your Name
                    .contact-form__float-input.float-input
                        input.float-input__input.contact-form__input(id="email" name="_replyto" type="email" required placeholder="johndoe@gmail.com")
                        label.float-input__label.contact-form__label(for="email") Your Email
                    .contact-form__float-input.float-input
                        input.float-input__input.contact-form__input(id="message" name="message" type="text" required placeholder="Hello, i would like to order ...")
                        label.float-input__label.contact-form__label(for="message") Your Message
                    label.contact-form__submit.button.button--primary.button--icon
                        img(src="img/send.svg")
                        input(type="submit")
                    input(type="hidden" name="_next" value="/#contacted-popup")
